allure-pytest==2.13.5
allure-python-commons==2.13.5
curlify2==2.0.0
deepdiff==8.0.1
Faker==30.6.0
fastapi==0.115.2
jsonschema==4.23.0
loguru==0.7.2
pydantic==2.9.2
pydantic-settings==2.6.0
pytest==8.3.3
requests==2.32.3
ruff==0.7.0
uvicorn==0.32.0
